.container {
  height: 100%;
  /* 기본적으로 flex-item은 min-height: 100%로 지정, 화면을 넘어가는 경우에는 min-height: 0으로 지정 */
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.list {
  /* grow, shrink 1, 1 basis auto로 */
  flex: 1 1 auto;
  overflow-y: auto;
}
